################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/db
/Logic/bin/Debug/netcoreapp2.0
/Common/bin/Debug/netcoreapp2.0
/Common/obj
/Logic/obj
/Web/2017
/Web/bin/Debug
/Web/obj
/Web/wwwroot/lib
